<section id="hero">
    <div class="hero-container">
      {% block content %}

      {% endblock content %}
      <div class="col-md-5 p-lg-5 mx-auto my-5" style="color: black;">
        <h3 class="display-4" style="color: white;">"We're here to guide you through every stage of your chemical processing voyage."</h3>
        <a class="btn btn-outline-secondary my-3 " style="background-color: lightcyan; color: black;" href="/about">About us</a>
      </div>
      <div class="product-device shadow-sm d-none d-md-block"></div>
      <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
    </div>
  </section>